{% extends "base/base.html" %}


{% block page_content %}
<h1>All Chords</h1>
<a href="{% url 'chords_create' %}" class="btn btn-outline-primary">Add chord</a>

{% if chords %}
    <div class="row">
        {% for chord in chords %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    {% if chord.schema_url %}
                        <img height=200 src="{{ chord.schema_url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img height=200 src="https://placehold.co/400x300" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ chord.name }} ({{ chord.symbol }})</h5>
                        <a href="{% url 'chords_details' chord.pk %}" class="btn btn-outline-success">Vise detalja</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Nema niti jednog akorda u bazi. Dodaj akord</p>
{% endif %}


{% endblock page_content %}
