{% extends "base/base.html" %}


{% block page_content %}
<h1>All Pianos</h1>
<a href="{% url 'pianos_create' %}" class="btn btn-outline-primary">Add piano</a>

{% if pianos %}
    <div class="row">
        {% for piano in pianos %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    {% if chord.schema_url %}
                       <img height=200 src="{{ chord.schema_url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img height=200 src="https://placehold.co/400x300" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ piano.model }}</h5>
                        {% if piano.description %}
                            <p class="card-text">{{ piano.description }}</p>
                        {% endif %}
                        <a href="{% url 'pianos_details' piano.pk %}" class="btn btn-outline-success">Vise detalja</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Nema niti jednog klavira u bazi. Dodaj klavir</p>
{% endif %}


{% endblock page_content %}
