{% extends "base/base.html" %}


{% block page_content %}
<a href="{% url 'pianos_list' %}" class="btn btn-outline-info">Povratak na listu</a>

<h1>{{ piano.model }}</h1>
{% if piano.description %}
    <p>Opis: {{ piano.description }}</p>
{% endif %}
<p>Tip klavira: {{ piano.type }}</p>
<p>Kategorija klavira: {{ piano.category }}</p>
{% if piano.schema_url %}
<div><img width=300 src="{{ piano.picture_url }}" /></div>
{% else %}
<div><img width=300 src="https://placehold.co/400x300" /></div>
{% endif %}
{% endblock page_content %}
